{% extends 'base.html.twig' %}
{% block title %}Edit Brand{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <label>Supplier's Name</label>
        {{ form_widget(form.namesup) }}
        {{ form_end(form) }}
    </div>
{% endblock %}