{% extends 'base.html.twig' %}
{% block title %}ERROR{% endblock %}
{% block body %}
<div class="container-fluid" style ="background:rgb(237,67,55);
    height:500px"> 

 <div class= "row">
 <div style="margin-top:130px">
     <i class="fa-solid fa-circle-exclamation" style="font-size:100px;
     margin-left:630px; margin-bottom:50px"></i>
         <h1 style = "
           text-align:center;
           color:white">Error! An error occurred. Please try again later</h1>
 </div>
 </div>
   </div>
 
{% endblock %}
