{% extends 'base.html.twig' %}

{% block title %}Blog!{% endblock %}

{% block body %}
<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>Our Latest Post</h1>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="{{asset('images/A01.jpg')}}" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">Best Watch Strap In Your Budget</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          
        </div>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">How to choose right watch for you.</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="{{asset('images/A02.jpg')}}" alt="">
      </div>
    </div>
    
    
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="{{asset('images/R02.jpg')}}" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">Watch That Matters</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          
        </div>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">Why You Should Buy a Smart Watch.</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="{{asset('images/W01.jpg')}}" alt="">
      </div>
    </div>
    
    
  </div>
</section>

<script src="plugins/jquery/jquery.js"></script>

<script src="plugins/bootstrap/bootstrap.min.js"></script>

<script src="plugins/slick/slick.min.js"></script>

<script src="js/script.js"></script>
</body>
</html>
{% endblock %}