{% extends 'base.html.twig' %}

{% block title %}Contact!{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">Central Office</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <ul class="list-unstyled contact-list">
          <li class="mb-3"><a href="tel:0124857985320"><i class="tf-ion-ios-telephone mr-2"></i>
              0124857985320</a></li>
          <li class="mb-3"><a href="mailto:demo@email.com"><i class="tf-ion-email mr-2"></i>NTshop@email.com</a></li>
          <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>Dhaka, Bangladedsh
          </li>
        </ul>
      </div>
      
      <div class="col-lg-3 col-sm-6 mb-5">
        
        <h2 class="font-weight-bold mb-4">Opening Hours</h2>
        <ul class="list-unstyled">
          
          <li class="mb-2">Monday: 9:00 – 19:00</li>
          
          <li class="mb-2">Tuesday: 9:00 – 19:00</li>
          
          <li class="mb-2">Wednesday: 9:00 – 19:00</li>
          
          <li class="mb-2">Thursday: 9:00 – 19:00</li>
          
          <li class="mb-2">Friday: 9:00 – 19:00</li>
          
          <li class="mb-2">Saturday: 9:00 – 19:00</li>
          
          <li class="mb-2">sunday: 9:00 – 19:00</li>
          
        </ul>
        
      </div>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.85411864859!2d105.77545561530543!3d10.028894692831365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a062a8990f568d%3A0x2a22d599b2c06b23!2zxJDhuqFpIEjhu41jIEdyZWVud2ljaCAoVmnhu4d0IE5hbSkgLSBDxqEgc-G7nyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1676340070670!5m2!1svi!2s" 
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    
  </div>
 
</section>

<script src="plugins/jquery/jquery.js"></script>

<script src="plugins/bootstrap/bootstrap.min.js"></script>

<script src="plugins/slick/slick.min.js"></script>

<script src="js/script.js"></script>
</body>
</html>
{% endblock %}